<!-- Teknoloji Logo Şeridi -->
<div class="technology-banner">
    <div class="container-fluid">
        <div class="technology-logos">
            <div class="logo-item" data-bs-toggle="tooltip" title="JBoss EAP">
                <img src="/static/images/logos/jboss-eap.png" alt="JBoss EAP" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="OpenShift">
                <img src="/static/images/logos/openshift.png" alt="OpenShift" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="Nginx">
                <img src="/static/images/logos/nginx.png" alt="Nginx" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="IBM WebSphere">
                <img src="/static/images/logos/websphere.png" alt="IBM WebSphere" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="Apache Tomcat">
                <img src="/static/images/logos/tomcat.png" alt="Apache Tomcat" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="Red Hat Apache HTTP Server">
                <img src="/static/images/logos/apache-httpd.png" alt="Apache HTTP Server" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="Hazelcast">
                <img src="/static/images/logos/hazelcast.png" alt="Hazelcast" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="Aware">
                <img src="/static/images/logos/aware.png" alt="Aware" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="IBM CICS Transaction Gateway">
                <img src="/static/images/logos/cics-tg.png" alt="CICS TG" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="Provenir">
                <img src="/static/images/logos/provenir.png" alt="Provenir" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="PowerCurve">
                <img src="/static/images/logos/powercurve.png" alt="PowerCurve" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="Evam">
                <img src="/static/images/logos/evam.png" alt="Evam" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="SWIFT Alliance">
                <img src="/static/images/logos/swift.png" alt="SWIFT Alliance" class="tech-logo">
            </div>
            <div class="logo-item" data-bs-toggle="tooltip" title="Dynatrace">
                <img src="/static/images/logos/dynatrace.png" alt="Dynatrace" class="tech-logo">
            </div>
        </div>
    </div>
</div>
